@import url(//fonts.googleapis.com/css?family=Ubuntu:400,500,300,700);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,500,600,700,800,900);
body {
    margin: 0px;
    color: white;
    font-family: 'Segoe UI',sans-serif;
    background-image: linear-gradient(45deg, #6b5684 1%, #48365d 64%, #6b5684 97%);
}

#raw {
    height: 500px;
    width: 1000px;
    margin: 5% auto;
    border-radius: 5px;
    padding: 10px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}
input.text {
    height: 43px;
    padding: 0px 99px 0px 44px;
    font-family: 'Segoe UI',sans-serif;
    color: white;
    transition: 300ms;
    background: rgba(255, 255, 255, 0.27);
    margin-right: 12px;
    border: 1px solid #ffffff42;
    display: block;
    margin: 13px auto;
}
input.register {
    height: 43px;
    padding: 0px 23px 0px 38px;
    font-family: 'Segoe UI',sans-serif;
    color: white;
    transition: 300ms;
    background: rgba(255, 255, 255, 0.27);
    border: none;
    /* border-left: 22px solid #ffffff; */
    margin-right: 12px;
    border-top: 1px solid #ffffff42;
    border-bottom: 1px solid #ffffff42;
    border-right: 1px solid #ffffff42;
    border-left: 1px solid #ffffff42;
	margin-top: 10px;
}
input.submit {
    width: 270px;
    color: white;
    text-align: center;
    border: none;
    font-family: ubuntu;
    cursor: pointer;
    background: rgb(82, 204, 100);
    border-bottom: 3px solid rgb(67, 171, 98);
    padding: 10px;
    border-radius: 3px 3px 0px 0px;
    clear: both;
    display: block;
    margin: auto;
}
.gobutton {
    height: 45px;
    position: relative;
    color: white;
    border: 1px solid #ffffffa1;
    background: #48365d;
    font-family: 'Segoe UI',sans-serif;
    font-weight: bold;
    line-height: 43px;
    width: 291px;
    border-radius: 3px;
    cursor: pointer;
    transition: 200ms;
    box-shadow: inset 0px -20px 0px 0px rgba(0, 0, 0, 0.07);
    display: block;
    margin: 10px auto;
}
#hotel {
    background: url(/gallery/images/background_right_hween15.png);
    height: 475px;
    width: 546px;
    position: absolute;
    /* top: 0; */
    right: 0;
    bottom: 0;
    z-index: -1;
    /* opacity: 0.7; */
}
i.far.fa-user {
    position: absolute;
    margin-top: -44px;
    margin-left: 55px;
    color: #ffffffb5;
    font-size: 20px;
    border-right: 1px solid white;
    width: 25px;
}
i.fas.fa-lock {
    position: absolute;
    margin-top: -44px;
    margin-left: 55px;
    /* z-index: 99999999999999; */
    color: #ffffffb5;
    font-size: 20px;
    border-right: 1px solid white;
    width: 25px;
}
i.fas.fa-sign-in-alt {
    color: white;
    position: absolute;
    margin-top: -28px;
    margin-left: 208px;
}

#updates-box {
    height: 78px;
    width: 323.4px;
    background: #ffffff38;
    float: left;
    margin-right: 15px;
    border-bottom: 2px solid #ffffff5c;
    cursor: pointer;
    transition: 200ms;
}
div#updates-box:last-child {
    margin-right: 0px;
}
#main {
    height: 270px;
}
#loginbox {
    height: 270px;
    width: 377px;
    background: #ffffff38;
    float: left;
    border: 1px solid #ffffff73;
}
#logo {
    background: url(/gallery/images/logoo.png);
    height: 86px;
    width: 210px;
    display: block;
    position: absolute;
    margin-top: -57px;
    margin-left: 85px;
    -webkit-filter: drop-shadow(0 1px 0 #FFFFFF) drop-shadow(0 -1px 0 #FFFFFF) drop-shadow(1px 0 0 #FFFFFF) drop-shadow(-1px 0 0 #FFFFFF);
}
#homebox {
    height: 270px;
    background: url(/gallery/images/indexi_ch.png);
    float: left;
    width: 610px;
    margin-left: 9px;
    background-position: -21px -9px;
    border: 1px solid #ffffff73;
}
#updates-main {
    position: relative;
    height: 80px;
    width: 1001px;
    margin: auto;
    margin-top: 10px;
}
.update-icon {
	float: left;
    padding: 12px;
    font-size: 38px;
    margin-left: 11px;
    margin-top: 6px;
    border: 2px solid white;
    /* height: 50px; */
    width: 37px;
    text-align: center;
    border-radius: 100%;
}
.updates-title {
	font-weight: 500;
    padding: 9px;
    margin-left: 80px;
}
.updates-text {
	/* font-weight: 500; */
    font-size: 14px;
    padding: 9px;
    margin-left: 80px;
    margin-top: -17px;
    line-height: 1;
}
i.fa-gem {
    position: relative;
    top: 2px;
    left: -2px;
}
#fa-hotel {
    font-size: 33px;
    /* text-shadow: 0px 0px 10px; */
    float: left;
    margin: 8px;
}
.homebox-warn {
	background: #ffffff38;
    height: 50px;
    border-top: 1px solid #ffffff73;
    margin-top: 220px;
}
.homebox-warn-text {
	line-height: 1;
    margin-left: 53px;
    position: relative;
    top: 9px;
}
#regi-icon {
    color: white;
    position: absolute;
    margin-top: -40px;
    margin-left: 218px;
}
a {
    text-decoration: none;
}
i.fas.fa-envelope {
	position: absolute;
	margin-top: -44px;
	margin-left: 55px;
	color: #ffffffb5;
	font-size: 20px;
	border-right: 1px solid white;
	width: 25px;
}
i.fas.fa-user-plus {
    color: white;
    position: absolute;
    margin-top: -40px;
    margin-left: 221px;
}
i.fas.fa-backspace {
    color: white;
    position: absolute;
    margin-top: -40px;
    margin-left: 221px;
}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: linear-gradient(45deg, #6b5684 1%, #48365d 64%, #6b5684 97%);
	}
.se-pre-con-logo {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(/gallery/images/logoo.png) center no-repeat;
}
#footer {
	background: #ffffff38;
	border: 1px solid #ffffff73;
	margin-top: 5px;
}
.footer {
    text-align: center;
    line-height: 50px;
    font-size: 13px;
    color: #ffffff;
    clear: both;
}
