<?xml version="1.0" encoding="UTF-8"?>
<configuration>

<system.webServer>
      
<defaultDocument>
<files>
                <clear />
                <add value="_seiten/index.html" />
                <add value="_seiten/register.html" />
                <add value="index.php" />
</files>
</defaultDocument>
</system.webServer>
 <system.webServer>



    </system.webServer>
<system.webServer>


<rewrite>
<rules>

                <rule name="Imported Rule 1-1">
                    <match url="^/habbo-imaging/badge/([^/]+)" ignoreCase="false" />
                    <action type="Rewrite" url="/game/habbo-imaging/badge.php?badge={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 2-1">
                    <match url="^/habbo-imaging/head/([^/]+)" ignoreCase="false" />
                    <action type="Rewrite" url="/game/habbo-imaging/head.php?figure={R:1}" appendQueryString="false" />
                </rule>
		
<rule name="Importierte Regel 1">
<match url="^index(|/)$" ignoreCase="false" />
<action type="Rewrite" url="/index.php?seite=index" />
</rule>

<rule name="Importierte Regel 2">
<match url="^home(|/)$" ignoreCase="false" />
<action type="Rewrite" url="index.php?seite=home" />
</rule>


<rule name="Importierte Regel 3">
<match url="^register(|/)$" ignoreCase="false" />
<action type="Rewrite" url="_seiten/register.html" />
</rule>

<rule name="Importierte Regel 4">
<match url="^logout(|/)$" ignoreCase="false" />
<action type="Rewrite" url="index.php?seite=logout" />
</rule>

<rule name="Importierte Regel 5">
<match url="^staff(|/)$" ignoreCase="false" />
<action type="Rewrite" url="index.php?seite=staff" />
</rule>

<rule name="Importierte Regel 6">
<match url="^topluluk/uzman(|/)$" ignoreCase="false" />
<action type="Rewrite" url="index.php?seite=helper" />
</rule>

<rule name="Importierte Regel 7">
<match url="^hotel(|/)$" ignoreCase="false" />
<action type="Rewrite" url="index.php?seite=client" />
</rule>

<rule name="Importierte Regel 7_2">
<match url="^hotel_gateway(|/)$" ignoreCase="false" />
<action type="Rewrite" url="index.php?seite=client_gateway" />
</rule>

<rule name="Importierte Regel 8">
<match url="^news(|/)$" ignoreCase="false" />
<action type="Rewrite" url="index.php?seite=news" />
</rule>

<rule name="Importierte Regel 9">
<match url="^news/(.*)$" ignoreCase="false" />
<action type="Rewrite" url="index.php?seite=news&amp;newsid={R:1}" appendQueryString="false" />
</rule>

<rule name="Importierte Regel 11">
<match url="^extras/badgeshop(|/)$" ignoreCase="false" />
<action type="Rewrite" url="index.php?seite=badgeshop" />
</rule>

<rule name="Importierte Regel 12">
<match url="^profil/(.*)$" ignoreCase="false" />
<action type="Rewrite" url="index.php?seite=profil&amp;user={R:1}" appendQueryString="false" />
</rule>

<rule name="Importierte Regel 13">
<match url="^topluluk(|/)$" ignoreCase="false" />
<action type="Rewrite" url="index.php?seite=topluluk" />
</rule>

<rule name="Importierte Regel 15">
<match url="^extras/badgeshop(|/)$" ignoreCase="false" />
<action type="Rewrite" url="index.php?seite=badgeshop" />
</rule>

<rule name="Importierte Regel 16">
<match url="^topluluk/liderler(|/)$" ignoreCase="false" />
<action type="Rewrite" url="index.php?seite=liderler" />
</rule>

<rule name="Importierte Regel 17">
<match url="^sicherheitslogin(|/)$" ignoreCase="false" />
<action type="Rewrite" url="index.php?seite=sicherheitslogin" />
</rule>

<rule name="Importierte Regel 18">
<match url="^rcinfo(|/)$" ignoreCase="false" />
<action type="Rewrite" url="neu/klassen/rcinfo.php" />
</rule>

<rule name="Importierte Regel 19">
<match url="^impressum(|/)$" ignoreCase="false" />
<action type="Rewrite" url="_seiten/impressum.html" />
</rule>

<rule name="Importierte Regel 20">
<match url="^agb(|/)$" ignoreCase="false" />
<action type="Rewrite" url="_seiten/agb.html" />
</rule>

<rule name="Importierte Regel 21">
<match url="^settings(|/)$" ignoreCase="false" />
<action type="Rewrite" url="index.php?seite=settings" />
</rule>

<rule name="Importierte Regel 22">
<match url="^cabbo_racing/(.*)$" ignoreCase="false" />
<action type="Rewrite" url="_seiten/cabbo_racing/{R:1}" appendQueryString="false" />
</rule>

<rule name="Importierte Regel 23">
<match url="^cabbo_racing(|/)$" ignoreCase="false" />
<action type="Rewrite" url="_seiten/cabbo_racing/index.php" />
</rule>

<rule name="Importierte Regel 24">
<match url="^client_gateway(|/)$" ignoreCase="false" />
<action type="Rewrite" url="index.php?seite=client_gateway" />
</rule>

<rule name="Importierte Regel 25">
<match url="^adblocker-ausschalten(|/)$" ignoreCase="false" />
<action type="Rewrite" url="/templ/adblocker-ausschalten.html" />
</rule>

<rule name="Importierte Regel 26">
<match url="^werbetexte(|/)$" ignoreCase="false" />
<action type="Rewrite" url="/_seiten/werbetext.php" />
</rule>

<rule name="Importierte Regel 27">
<match url="^extras/halloween(|/)$" ignoreCase="false" />
<action type="Rewrite" url="index.php?seite=halloween" />
</rule>

<rule name="Importierte Regel 28">
<match url="^werbung(|/)$" ignoreCase="false" />
<action type="Rewrite" url="/_seiten/werbung.html" />
</rule>

<rule name="Importierte Regel 29">
<match url="^topluluk/liderler(|/)$" ignoreCase="false" />
<action type="Rewrite" url="index.php?seite=liderler" />
</rule>

<rule name="Importierte Regel 30">
<match url="^newsletter(|/)$" ignoreCase="false" />
<action type="Rewrite" url="neu/klassen/newsletter.php" />
</rule>

<rule name="Importierte Regel 31">
<match url="^extras/umtauschservice(|/)$" ignoreCase="false" />
<action type="Rewrite" url="index.php?seite=umtauschservice" />
</rule>

<rule name="Importierte Regel 32">
<match url="^extras/badgeshop(|/)$" ignoreCase="false" />
<action type="Rewrite" url="index.php?seite=badgeshop" />
</rule>

<rule name="Importierte Regel 33">
<match url="^client_gateway(|/)$" ignoreCase="false" />
<action type="Rewrite" url="index.php?seite=client_gateway" />
</rule>

<rule name="Importierte Regel 34">
<match url="^topluluk/yardimci(|/)$" ignoreCase="false" />
<action type="Rewrite" url="index.php?seite=yardimci" />
</rule>

<rule name="Importierte Regel 35">
<match url="^topluluk/kurallar(|/)$" ignoreCase="false" />
<action type="Rewrite" url="index.php?seite=kurallar" />
</rule>

<rule name="Importierte Regel 36">
<match url="^topuser(|/)$" ignoreCase="false" />
<action type="Rewrite" url="index.php?seite=topuser" />
</rule>

<rule name="Importierte Regel 37">
<match url="^settings_em(|/)$" ignoreCase="false" />
<action type="Rewrite" url="index.php?seite=settings_em" />
</rule>

<rule name="Importierte Regel 38">
<match url="^expert(|/)$" ignoreCase="false" />
<action type="Rewrite" url="index.php?seite=expert" />
</rule>

<rule name="Importierte Regel 39">
<match url="^lovesystem(|/)$" ignoreCase="false" />
<action type="Rewrite" url="index.php?seite=lovesystem" />
</rule>

<rule name="Importierte Regel 40">
<match url="^account/disconnected(|/)$" ignoreCase="false" />
<action type="Rewrite" url="index.php?seite=clienterror" />
</rule>

<rule name="Importierte Regel 41">
<match url="^game/account/disconnected(|/)$" ignoreCase="false" />
<action type="Rewrite" url="index.php?seite=clienterror" />
</rule>

<rule name="Importierte Regel 42">
<match url="^game/gordon/X-PRODUCTION-X(|/)$" ignoreCase="false" />
<action type="Rewrite" url="index.php?seite=clienterror" />
</rule>

</rules>
</rewrite>
</system.webServer>
</configuration>
